@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: ABeeZee, 'Courier New', Courier, monospace;
    background-image: url(../assets/img/background_sonserina.jpg) ;
    background-size: cover;    
    height: 100vh;
    width: 100%;
}

/* Organização, disposição e cores navbar */
.container {
    width: 80%;
    margin: auto;
    display: flex;
}

header {
    background-color: #012326;
    border-bottom: 3px #c0c0c0 solid;
}


.subtitulo {
    text-decoration: wavy;
    font-size: 20px;
}

.agora {
    font-weight: 900;
}

header .container {
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: #c0c0c0;
}

.navbar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.btn-logout {
    margin: 0;
    padding: 0;
    background-color: #c0c0c0;
    color: rgb(11, 114, 2);
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
  }

  .hello {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  
  .hello h3 {
    color: #78e362;
    font-weight: 300;
    font-size: 25px;
  }
  
  .hello h3 span {
    font-weight: 800;
  }
  

.container_feiticos {
    padding: 5% 13% 10% 13%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.manualFeiticos {
    text-shadow: 1px 1px 2px #424242 ;
    color: #1d6800;
    background-color: #c0c0c0;
    text-align: center;
    padding: 3% 20% 3% 20%;
    border-radius: 10%;
}

.cards_feiticos {
    display: flex;
    justify-content: space-evenly;
}

.cards_feiticos h3 {
    padding: 20px;
}

main.cards_feiticos section.cards1 {
    background-color: #b7e99f91;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px;
    border-radius: 8px;
    max-height: 500px;
    max-width: 300px;
    margin-left: 36px;
    margin-bottom: 30px;

}

main.cards_feiticos section.cards2 {
    background-color: #b7e99f91;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px;
    border-radius: 8px;
    max-height: 500px;
    max-width: 300px;
    margin-left: 36px;
    margin-bottom: 30px;

}

main.cards_feiticos section.cards3 {
    background-color: #b7e99f91;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px;
    border-radius: 8px;
    max-height: 500px;
    max-width: 300px;
    margin-left: 36px;
    margin-bottom: 30px;

}

main.cards_feiticos section.cards4 {
    background-color: #b7e99f91;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px;
    border-radius: 8px;
    max-height: 500px;
    max-width: 300px;
    margin-left: 26px;
    margin-bottom: 30px;
}

main.cards_feiticos section.cards5 {
    background-color: #b6e99f91;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px;
    border-radius: 8px;
    max-height: 500px;
    max-width: 300px;
    margin-left: 36px;
    margin-bottom: 30px;

}

.cards {
    /* text-shadow: 1px 1px 2px #424242 ;
    color: #1d6800;
    background-color: #c0c0c0b7;
    padding: 2%;
    margin: 1.5vh;
    text-align: center;
    border-radius: 5%;
} */
