@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: ABeeZee, 'Courier New', Courier, monospace;
    background-image: url(../assets/img/background_home.jpg) ;
}

/* Itens do navbar */
header .container {
    justify-content: space-between;
}


header {
    background-color: #012326;
    border-bottom: 3px #F29F05 solid;
}    

header a {
    text-decoration: none;
    color: #e3b862;
}

.navbar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.btn-logout {
    margin: 0;
    padding: 0;
    background-color: #035e00;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
  }


.agora {
    font-weight: 900;
}

/* Banner e button */

.container {
    width: 80%;
    margin: auto;
    display: flex;
}    

.banner {
    height: fit-content;
    width: 100%;
    color: white;
    background-image: url(../assets/img/banner.png);
    background-size: cover;
}

.banner .container {
    height: 800px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
}

.banner p {
    margin: 0px;
    padding: 0px;
    width: 280px;
    height: fit-content;

}

#botao1 {
    padding: 19px;
    color: #012326;
    background-color: #F29F05;
    border-radius: 19px;
    
}

#botao1 a {
    text-decoration: none;
    color: black;
    
}

.banner .container #botao {
    display: inline-block;
    position: relative;
        right: 30%;
        top: 15%;
    }


/* Cards quem somos, grade e materias */

#txt_materias {
    color: #e3b862;
    align-items: center;
    text-align: center;
    padding: 100px 100px 100px 100px;
    border-radius: 8px;
    
}
#txt_materias h1 {
    background-color: #00171a;
    color: #e3b862;
    margin: 0 100px 0 100px;
    padding: 10px 10px 10px 10px;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 10px 40px #0c0c0cbb;

}


#txt_materias p {
    background-color: #00171a;
    color: #e3b862;
    padding: 20px 20px 20px 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 40px #0c0c0cbb;

}

#cont_materias {
    color: white;
    display: flex;
    gap: 3rem;
}

.subtitulo {
    text-decoration: wavy;
    font-size: 20px;
}    

#txt_sobre {
    background-color: #00171a;
    color: #e3b862;
    margin: 0 100px 0 100px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 10px 40px #0c0c0cbb;


}

/* Galeria de fotos */


#titulo {
    display: flex;
    background-color: #d9937900;
    color: white;
    margin: 0 100px 0 100px;
    padding: 10px 10px 10px 10px;
    align-items: center;
    justify-content: center;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 5px;
}    

.img_galeria {
    width: 100%;
    height: 100%;
    object-fit: cover;
}    
/* Os itens abaixo definem (grid column é onde a imagem inicia, o end é onde termina (de largura) o row start é a linha onde está e o woe end é onde termina de comprimento.) */

.galeria_item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.galeria_item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.galeria_item--3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.galeria_item--4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}
.galeria_item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.galeria_item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}

/* Area onde leva para o quiz */

.botaoChapeu {
    width: 100%;
    padding: 25px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    font-weight: 800;
    color: #00171a;
    background-color: #e3b862;
    cursor: pointer;
    box-shadow: 5px 10px 50px #161616bb;

}

.cardChapeu {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #f29f052d;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #000000bb;

}

.caixaExterna {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.areaFormulario {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.areaFormulario h1 {
    color: #F29F05;
    
}

.cardLogin {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #012326;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #000000bb;

}

.cardLogin h1 {
    color: #F29F05;
    font-weight: 800;
    margin: 0;
}

.areaImagem {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* Conteúdos do footer */

#container_rodape {
    background-color: #012326;
    color: black;
    border-top: 3px #F29F05 solid;
    margin-top: 100px;
}

#logo_rodape {
    padding: 40px;
    display: flex;
    justify-content: center;
}  

#informacoes_rodape span {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    color: #F29F05;
    font-weight: 900;
    font-size: 20px;

}

/* FINAL DA PARTE INDEX INDEX */

/* INÍCIO DA PÁGINAS DE FORMULARIO (LOGIN/CADASTRO) */
#imgLogin {
    width: 45%;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #01464d93;
    font-size: 18px;
    box-shadow: 0px 10px 40px #161616bb;
    box-sizing: border-box;
}

.textfield label {
    color: #F29F05;
    margin-bottom: 10px;
}

.botaoAcesso {
    width: 50%;
    padding: 16px 0px;
    border: none;
    border-radius: 10px;
    font-weight: 800;
    color: #00171a;
    background-color: #013d42;
    cursor: pointer;
    box-shadow: 0px 10px 40px #161616bb;
    justify-content: center;
}


.caixaExternaCadastro {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.areaFormularioCadastro a:hover {
    background-color: #F29F05;
    color: #00171a;
}

.areaFormularioCadastro {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.areaFormularioCadastro a {
    text-decoration: none;
    color: #F29F05;

}

.areaFormularioCadastro h1 {
    color: #F29F05;
    
}

.areaFormularioCadastro h4 {
    padding-top: 3%;
    color: white;
    width: 400px;
    height: 100px;
    background-color: #013d42;
    border-radius: 20px;
}
    

.cardLoginCadastro {
    width: 80%;
    justify-content: center;
    align-items: center;
    padding: 30px 35px;
    background-color: #012326;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #000000bb;

}

.cardLoginCadastro h1 {
    color: #F29F05;
    font-weight: 800;
    margin: 0;
}

.areaImagemCadastro {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

